$input-height-base: 38px; 
$line-height-computed:20px;

.has-feedback-custom {
    position: relative;

    .form-control {
        padding-right: ($input-height-base * 1.25);
    }
}

.form-control-feedback-custom {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: $input-height-base;
    height: $input-height-base;
    line-height: $input-height-base;
    text-align: center;
    pointer-events: none;
}

.has-feedback-custom label {

    &~.form-control-feedback-custom {
        top: 32px;
    }

    &.sr-only~.form-control-feedback-custom {
        top: 0;
    }
}
