<div class="my-2" @pageSlideUpAnimation>
    <h3>Products</h3>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th sort [model]="sort" (getData)="getProducts()" [title]="'Name '" [columnName]="'productName'" scope="col"></th>
                    <th sort [model]="sort" (getData)="getProducts()" [title]="'Category '" [columnName]="'categoryName'" scope="col"></th>
                    <th sort [model]="sort" (getData)="getProducts()" [title]="'Price '" [columnName]="'unitPrice'" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of data;">
                    <td>{{t.productName}}</td>
                    <td>{{t.categoryName}}</td>
                    <td>{{t.unitPrice}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [paginator]="paginator" (getData)="getProducts()"></app-pagination>
</div>
