<div class="my-2" @pageSlideUpAnimation>
    <h3>Products</h3>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label for="filterName">Name</label>
            <input id="filterName" type="text" class="form-control" [(ngModel)]="filter.name" />
        </div>
        <div class="col-sm-1 form-group">
            <label for="filterPGT">Price >=</label>
            <input id="filterPGT" type="text" class="form-control" [(ngModel)]="filter.pricegt" />
        </div>
        <div class="col-sm-1 form-group">
            <label for="filterPLT">Price <=</label>
            <input id="filterPLT" type="text" class="form-control" [(ngModel)]="filter.pricelt" />
        </div>
        <div class="col-sm-3 form-group">
            <label for="filterCat">Category</label>
            <select id="filterCat" class="form-control" [(ngModel)]="filter.category" >
                <option value="" selected>All</option>
                <option *ngFor="let x of categories" value="{{x.categoryID}}">{{x.name}}</option>
            </select>
        </div>
        <div class="col-sm-3 form-group">
            <label>&nbsp;</label>
            <div>
                <button class="btn btn-primary" [disabled]="!filter" (click)="getProducts();"><i class="fa fa-search"></i>&nbsp;Serach</button>&nbsp;
                <button class="btn btn-danger" [disabled]="!filter" (click)="resetFilters();"><i class="fa fa-undo"></i>&nbsp;Reset</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th sort [model]="sort" (getData)="getProducts()" [title]="'Name '" [columnName]="'productName'" scope="col"></th>
                    <th sort [model]="sort" (getData)="getProducts()" [title]="'Category '" [columnName]="'categoryName'" scope="col"></th>
                    <th sort [model]="sort" (getData)="getProducts()" [title]="'Price '" [columnName]="'unitPrice'" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of data;">
                    <td>{{t.productName}}</td>
                    <td>{{t.categoryName}}</td>
                    <td>{{t.unitPrice}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [paginator]="paginator" (getData)="getProducts()"></app-pagination>
</div>
<app-loader [isLoading]="loading"></app-loader>
